* {
    margin: 0;
}

body {
    background-color: grey;
}

#container {
    width: 60%;
    margin: auto;
    background-color: white;
}

header {
    background-color:rgb(26, 153, 238) ;
    background-image: url('../img/pattern.png');
    height: 200px;
}

header img {
    width: 40%;
    padding: 100px 0 10px 10px; 
}

main {
    margin: 20px 10px 0 10px;
}

h1 {
    font-size: 44px;
}

section {
    margin-bottom: 20px;
}

.subtitle {
    color: grey;
}

#top {
    font-size: 26px;
}
#bot {
    font-size: 18px;
}

#title a {
    text-decoration: none;
    color: rgb(26, 153, 238);
}

section span {
    background-color: yellow;
}

section ul {
    padding: 15px;
}

thead {
    background-color: rgb(50, 139, 255);
}

.row_first_color {
    background-color: cornflowerblue;
}

.row_second_color {
    background-color: white;
}

th {
    text-align: left;
}

.column_one {
    width: 25%;
}

.column_two {
    width: 25%;
}

.column_three {
    width: 50%;
}

footer {
    margin-left: 10px;
}

footer div {
    width: 316px;
    height: 200px;
    margin: 10px 0 10px 0;
}

#footer_image_one {
    background-image: url('../img/monitor.jpg');
}

#footer_image_two {
    background-image: url('../img/graph.jpg');
}
footer p {
    font-size: 24px;
    color: white;
    padding: 15px 0 0 15px;
}