* {
    /* margin: 0; */
}

body {
    background-color: grey;
}

#container {
    width: 60%;
    margin: auto;
    background-color: white;
}

header {
    background-color:rgb(26, 153, 238) ;
    background-image: url('../img/pattern.png');
    height: 200px;
}

main {
    margin: 20px 5px 0 5px;
}

h1 {
    font-size: 44px;
}

section {
    margin-bottom: 20px;
}

.subtitle {
    color: grey;
}

#top {
    font-size: 26px;
}
#bot {
    font-size: 18px;
}

#title a {
    text-decoration: none;
    color: rgb(26, 153, 238);
}

section span {
    background-color: yellow;
}

ul {

}

thead {
    background-color: rgb(50, 139, 255);
}
th {
    text-align: left;
}

.column_one {
    width: 25%;
}

.column_two {
    width: 25%;
}

.column_three {
    width: 50%;
}